# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://usuario:senha@postgres:5432/procon_db?schema=public"
PORT=3000

# Configurações da Meta API
META_WA_TOKEN="meta_wa_token_aqui" # Token de acesso da Meta API
META_PHONE_NUMBER_ID="meta_phone_number_id" # ID do número de telefone do WhatsApp Business
META_VERIFY_TOKEN="meta_verify_token" # Token de verificação do Webhook